body{
    font-family: system-ui, system-ui, sans-serif;
   
}

#home{
    background-color: rgb(234, 255, 249);
}


.btn-sign{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.logo{
    height: 80px;
    width: 250px;
}

#navbarNav{
    font-size: 20px;
   
} 
 

/* home-section */

.text-orange{
    color: orange;
}

.btn-lg{
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
}

.card img{
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
        


  

}

.card{
    border: none;
}
/* .card-img-top , card{
    height: 400px;
    width: 500px;
} */

.col-sm-4{
    background-color: #ffffff;
}

.btn{
    background-color:#28a745;
    color: white;
    font-weight:500;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
}

.pimg img{
    width: 20px;
    height: 20px;
}
.pimg{
    margin-top: 9px;
    font-weight: 300;
    font-size: larger;
    font-variant:unset;
    
}

.img img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
     
}
.bg{
    margin-top: 50px;
    background-color: rgb(219, 219, 219);
}